*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.cards{
 margin: 15px;
 border: 1px solid #e8e8e8;
}
.cards svg{
  width: 1em;
  height: 1em;
  font-size: 20px;
}
.cards ul{
  background-color:#fafafa !important;
}
.card-body{
  text-align: start;
}
.name{
  font-weight: 500;
  color: rgba(0,0,0,.85);
  margin-bottom: 0.8em;
}
.content{
 padding-bottom: 0.4em;
 color: rgba(0,0,0,.65);
 display: flex;
 justify-content: flex-start;
 align-items: center;
}

.content> p{
margin-left: 10px;
}
